.component {
    width: 750px;
    /* height: 2000px; */
    /*height: calc(1000px);*/
    outline: 1px solid rgba(128, 128, 128, 0.57);
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 3px rgba(133,131,131,0.75);
}

.component * {
    font-family: Arial;
    font-size: .85rem;
}

.component :global(.react-calendar) {
    width: unset !important;
}

.component :global(.react-calendar) :global(.react-calendar__tile) {
    color: #2f69bd;
}

.component :global(.react-calendar) :global(.react-calendar__month-view__days__day--weekend) abbr {
    color: #de0505 !important;
}

.component :global(.react-calendar) :global(.react-calendar__tile):disabled {
    background-color: white;
}


.component :global(.react-calendar) :global(.react-calendar__tile):disabled abbr {
    /*filter: grayscale(1);*/
    color: #938989 !important;
    background-color: white;
}

.component :global(.react-calendar) :global(.react-calendar__tile) abbr {
    font-family: "Passion One", Arial;
    font-size: 1.5rem;
}


.grid {
    /*outline: 1px solid blue;*/
    margin-top: 0px;
}

.item {
    background: #d9d4d4;
    margin-top: 10px;
    height: 154px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}