html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  /*background: #bdbcbc;*/
  background: white;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}